
<h1><%= @bundle.name %></h1>
<h2>
  <strike>$<%= @bundle.price_total %></strike>
  $<%= @bundle.price %>
</h2>

<p>You save $<%= @bundle.price_savings%></p>

<section class="products">
  <% @bundle.products.each do |product| %>
    <div class="product">
      <a href="/products/<%= product.slug %>">
        <h3><%= product.name %></h3>
      </a>

      <% product.images.each do |image| %>
        <img src="<%=image.image_url width: 300, height: 200 %>" />
      <% end %>
    </div>
  <% end %>
</section>
