
<% @bundles.each do |bundle| %>
  <a href="/bundles/<%= bundle.id %>">
    <h1 id="<%= bundle.name %>"><%= bundle.name %></h1>
  </a>

  <h2>
    <strike>$<%= bundle.price_total %></strike>
    $<%= bundle.price %>
  </h2>

  <p>You save $<%= bundle.price_savings%></p>

  <% bundle.products.each do |product| %>
    <% product.images.each do |image| %>
      <img src="<%=image.image_url width: 300, height: 200 %>" />
    <% end %>
    </div>
  <% end %>
<% end %>
